body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

header {
    display: flex;
    gap: 1em;
    align-items: baseline;
    margin-bottom: 1em;
}

label {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    font-size: 1rem;
}
  
.time-display {
    display: flex;
    flex-direction: column;
}
  
#selectedTime,
#anyTime {
    display: block;
    font-size: 0.9rem;
}
  
#anyTime {
    color: gray;
    font-style: italic;
}

#map svg circle {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );
    fill: var(--color);
  }
  
  